/*Style CSS du site Reservia
----------------------------
Copyright Johann Lamine
*/

@font-face
{
    font-family: 'Raleway';
    src:url(font/static/Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway_Black';
    src:url(font/static/Raleway-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Raleway-Bold';
    src:url(font/static/Raleway-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
   padding: 0em;
   margin: 0em; 
   font-family: 'Raleway',Arial, Helvetica, sans-serif;
}
section {
    margin: auto;
    max-width: 1340px;
}

/* head*/

header {
    display: flex;
    margin: auto;
    max-width: 1340px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
header #logo {
    margin-left: 4px;
}

/*navigation*/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav a {
    color: grey;
    text-decoration: none;
    padding: 48px 28px 0px 28px;
}
nav a:hover {
    color: #0065fc;
    border-top: 4px #0065fc solid;
}
nav #inscription {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: #0065fc;
    border: none;
}

/*body*/
h1 {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#Section0 {
    margin-bottom: 40px;
}

/* Filtre*/

.Filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    text-align: center;
    margin-left: 13px;
}
.Filtres .titre {
    font-family: 'Raleway_Black', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: left;
}
.Filtres div {
    margin-right: 24px;

}
.Filtres p {
    font-family: 'Raleway_Black', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
.Filtres a {
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway_Black', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    width: 3em;
    color: black;
    border: 2px #f2f2f2 solid;
    border-left: transparent;
    padding: 0.4em 1em 0.51em 0em;
    border-radius: 1.2em;
    text-align: left;
    line-height: 3em;
}
.Filtres a:hover {
    text-decoration: none;
    font-size: 0.8em;
    width: 3em;
    color: black;
    background-color: #DEEBFF;
    border: 1px #DEEBFF solid;
    border-left: transparent;
    padding: 0.48em 1em 0.59em 0em;
    border-radius: 1.2em;
    text-align: left;
    line-height: 3em;
}
.Filtres i {
    color: #0065fc;
    font-size: 0.8em;
    width: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 50%;
    background: #DEEBFF;
    margin-left: -1px;
}
#infobulle i {
    align-items: center;
    color: #0065fc;
    border: 1px grey solid;
    font-size: 0.5em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    margin-right: 12px;
}
#infobulle {
    display: flex;
    align-items: center;
    margin-left: 9px;
}
#infobulle p {
    text-align: center;
}
/*herbergement*/

#Section1 {
    display: flex;
    max-width: 1340px;
    height: 626px;
    justify-content: space-between;
    margin-bottom: 60px;

}
#Section1 article, aside {
    background-color: #f2f2f2;
    border-radius: 17px;
    padding: 40px 40px;
}
#Section1 article {
    flex: 2;
    margin-right: 40px;
}
#Section1 aside {
    background-color: #f2f2f2;
    flex: 1;
    width: 420px;
    padding-right: 0px;
}
#pop {
    display: flex;
    max-width: 343px;
    flex-direction: row;
    justify-content: space-between;
}
article .box {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
article .box div {
    width: 246px;
    height: 199px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 17px;
    padding: auto;

}
article img {
    object-fit: cover;
    width: 236px;
    max-height: 114px;
    border-radius: 17px 17px 0px 0px;
    margin-top: 5px;
    margin-left: 5px;
}
aside .box div {
    width: 344px;
    height: 144px;
    background-color: white;
    border-radius: 17px;
    margin-bottom: 33px;
}
aside img {
    object-fit: cover;
    width: 127px;
    height: 134px;
    border-radius: 17px 0 0 17px;
    margin-top: 5px;
    margin-left: 5px;
}


/*Footer*/
footer {
    height: 217px;
    position: relative;
    background-color: #f2f2f2;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
footer #menu {
    display: flex;
    max-width: 1340px;
    margin: auto;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
footer div {
    padding-top: 20px;
    margin-right: auto;
}
footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: flex-start;
}
footer a {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
    color: black;
}