/*Style CSS du site Reservia
----------------------------
Copyright Johann Lamine
*/

@font-face
{
    font-family: 'Raleway';
    src:url(font/static/Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway_Black';
    src:url(font/static/Raleway-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Raleway-Bold';
    src:url(font/static/Raleway-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
   padding: 0em;
   margin: 0em; 
   font-family: 'Raleway',Arial, Helvetica, sans-serif;
   text-decoration: none;
}
section {
    margin: auto;
    max-width: 1340px;
}
a {
    color: black;
}

/* head*/

header {
    display: flex;
    margin: auto;
    max-width: 1340px;
    align-items: center;
    height: 120px;
    justify-content: space-between;
}
header #logo {
    margin-left: 4px;
}

/*navigation*/
#nav {
    display: flex;
    flex-wrap: nowrap;
}
nav a {
    color: grey;
    text-decoration: none;
    padding: 48px 28px 0px 28px;
}
nav a:hover {
    color: #0065fc;
    border-top: 4px #0065fc solid;
}
.inscription {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: #0065FC;
    margin-left: 28px;
}
.inscription:hover {
    border-top: none;
}

/*body*/
h1 {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin-bottom: 10px;
}
h2 {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#Section0 {
    margin-bottom: 40px;
}
/*recherche*/
.research {
    margin-top: 20px;
}
#search .fa-map-marker-alt {
    color: black;
    background-color: #F2F2F2;
    width: 47px;
    line-height: 47px;
    font-size: 18px;
    border: 2px #F2F2F2 solid;
    border-radius: 13px 0 0 13px;
    align-items: center;
    text-align: center;
}
#search #recherche {
    line-height: 47px;
    width: 234px;
    font-size: 18px;
    padding-left: 16px;
    margin-left: -5px;
    border: 2px #F2F2F2 solid;
    align-items: center;
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    color: black;
}

#search #bouton:hover {
    text-shadow: 0px 0px 5px #DEEBFF;
}
button {

    font-size: 18px;
    cursor: pointer;
    margin-left: -5px;
    width: 134px;
    line-height: 47px;
    background-color: #0065fc;
    border: 2px #0065FC solid;
    border-radius: 0 17px 17px 0;
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    color: white;
}
#search .fa-search {
    display: none;
}
/* Filtre*/

.Filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    text-align: center;
    margin-left: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.Filtres .titre {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: left;
}
.Filtres div {
    margin-right: 24px;
    flex-wrap: nowrap;

}
.Filtres p {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.Filtres a {
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 3em;
    color: black;
    border: 2px #f2f2f2 solid;
    border-left: transparent;
    padding: 0.4em 1em 0.51em 0em;
    border-radius: 1.2em;
    text-align: left;
    line-height: 3em;
}
.Filtres a:hover {
    text-decoration: none;
    font-size: 1em;
    width: 3em;
    color: black;
    background-color: #DEEBFF;
    border: 1px #DEEBFF solid;
    border-left: transparent;
    padding: 0.48em 1em 0.59em 0em;
    border-radius: 1.2em;
    text-align: left;
    line-height: 3em;
}
.Filtres i {
    color: #0065fc;
    font-size: 0.8em;
    width: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 50%;
    background: #DEEBFF;
}
#infobulle i {
    align-items: center;
    align-self: baseline;
    color: #0065fc;
    border: 1px grey solid;
    font-size: 0.5em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 9px;
}
#infobulle {
    display: flex;
    align-items: center;
}
#infobulle p {
    text-align: center;
}
/*herbergement*/

#Section1 {
    display: flex;
    max-width: 1340px;
    height: 626px;
    justify-content: space-between;
    margin-bottom: 60px;

}
#Section1 article, aside {
    background-color: #f2f2f2;
    border-radius: 17px;
    padding: 40px 40px;
}
#Section1 article {
    flex: 2;
    margin-right: 40px;
}
#Section1 aside {
    background-color: #f2f2f2;
    flex: 1;
    width: 420px;
    padding-right: 0px;
}
#pop {
    display: flex;
    max-width: 343px;
    flex-direction: row;
    justify-content: space-between;
}
article .box {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
article h1, aside h1 {
    margin-bottom: 20px;
}
#box1, #box2, #box3, #box4, #box5, #box6 {
    width: 246px;
    height: 199px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 17px;
    box-shadow: 2px 2px 2px #E3E3E3;
}
#box1:hover, #box2:hover, #box3:hover, #box4:hover, #box5:hover, #box6:hover {
    background-color: #DEEBFF;
}
.box h2, .box p {
    margin-left: 16px;
}
article h2 {
    font-size: 1em;
    margin-top: 8px;
    max-width: 214px;
}
article p {
    font-size: 0.9em;
    margin-top: auto;
    max-width: 214px;
}
article .star {
    font-size: 0.8em;
    color: #0065fc;
    margin: 7px auto auto 16px;
    width: 50%;
}
.fa-star.grey {
    color: #F2F2F2;
}
article img {
    object-fit: cover;
    width: 236px;
    max-height: 114px;
    border-radius: 17px 17px 0px 0px;
    margin-top: 5px;
    margin-left: 5px;
}
.more {
    margin-top: 20px;
}
/*populaire*/

#box7, #box8, #box9 {
    max-width: 344px;
    height: 144px;
    background-color: white;
    border-radius: 17px;
    margin-bottom: 33px;
    box-shadow: 2px 2px 2px #E3E3E3;
    display:flex;
    overflow: hidden;
}
#box7:hover, #box8:hover, #box9:hover {
    background-color: #DEEBFF;
}
.fa-star.grey {
    color: #F2F2F2;
}
aside img {
    object-fit: cover;
    width: 127px;
    height: 134px;
    border-radius: 17px 0 0 17px;
    margin-top: 5px;
    margin-left: 5px;
}
aside .infobox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 211px;
    height: 144px;
    align-content: center;
}
aside h2 {
    margin-top: 16px;
    margin-bottom: 10px;
}
aside .star {
    font-size: 0.8em;
    color: #0065fc;
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: 14px;
}
/*Activités*/
.activ {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}
#section2 h1 {
    margin-bottom: 20px;
}
.colonne1, .colonne2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#box10, #box11, #box12, #box13, #box14, #box15 {
    background-color: white;
    width: 302px;
    border-radius: 17px;
    box-shadow: 2px 2px 2px #E3E3E3;
}
#box10, #box13 {
    height: 446px;
}
#box11 {
    height: 237px;
}
#box12 {
    height: 166px;
}
#box14 {
    height: 196px;
}
#box15 {
    height: 209px;
}
.activ1, .activ2 {
    display: flex;
    width: 649px;
    justify-content: space-between;
    align-content: space-between;
}
.activ img {
    object-fit: cover;
    border-radius: 17px 17px 0 0;
    width: 302px;
}
#box10 img, #box13 img {
    height: 390px;
}
#box11 img {
    height: 181px;
}
#box12 img {
    height: 110px;
}
#box14 img {
    height: 140px;
}
#box15 img {
    height: 153px;
}
#box10:hover, #box11:hover, #box12:hover, #box13:hover, #box14:hover, #box15:hover {
    background-color: #DEEBFF;
} 
.activ h2 {
    margin: 19px auto 21px 19px;
}
/*Footer*/
footer {
    height: 217px;
    position: relative;
    background-color: #f2f2f2;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
footer #menu {
    display: flex;
    max-width: 1340px;
    margin: auto;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
footer div {
    padding-top: 20px;
    padding-left: 15px;
    margin-right: auto;
}
footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: flex-start;
}
footer a {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
    color: black;
}
/*test star hover*/

.star:hover .fa-star {
    color: #0065FC;
}
.star .fa-star:hover ~ .fa-star {
    color: #F2F2F2;
}

/*écran moyen*/

@media all and (min-width: 1100px) and (max-width: 1400px) {

    body {
        max-width: 1024px;
        margin: auto;
    }
    #Section1 {
        height: 850px;
    }
    aside { 
        padding-left: 20px;
    }
    #box7, #box8, #box9 {
        margin-right: 20px;
    }

    .activ {
        flex-direction: column;
        align-items: flex-start;
    }
    .activ1, .activ2 {
        max-width: 1024px;
    }
    .colonne2 {
        flex-direction: row;
    }
    .activ1 {
        margin-bottom: 40px;
    }
    #box10, #box11, #box12, #box13, #box14, #box15 {
        height: 237px;
        margin-right: 45px;
    }
    #box10 img, #box11 img, #box12 img, #box13 img, #box14 img, #box15 img {
        height: 181px;
    }

}
@media all and (max-width:1100px) {

    body {
        width: 100%;
        margin: auto;
    }

    /*header*/

    header {
        display: flex;
        justify-content: space-between;
        height: 132px;
        margin-bottom: 36px;
        }
    header #logo {
        margin-left: 20px;
    }
    #logo {
        float: left;
        align-self: flex-start;
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
    } 

    #nav {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        position: relative;
        order: 1;

    }
    nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }
    nav a {
        padding-top: 17px;
        padding-bottom: 17px;
        width: 50%;
        justify-content: center;
        border-bottom: 3px #F2F2F2 solid;
    }
    nav a:hover {
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
    .inscription {
        height: 45px;
        margin-right: 20px;
        margin-top: 30px;
        justify-self: flex-start;
    }
    /*section 0*/
    #Section0 {
        width: 90%;
    }

    /*recherche*/

    #search {
        display: flex;
        justify-content: center;
    }
    #search .fa-search {
        display:contents;
    }
    #search p {
        display: none;
    }
    button {
        width: 50px;
        margin-left: -15px;
        border-radius: 17px;
    }

    /*filtres*/

    .Filtres {
        height: auto;
        margin-left: 0%;
    }
    #titre {
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }
    #titre p {
        text-align: left;
    }
    #infobulle i {
        margin-left: 0%;
    }

    /*section1*/

    #Section1 {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 0px;
    }

    /*populaire*/

    #Section1 aside {
        width: auto;
        border-radius: 0px;
        padding: 20px;
    }
    #box7, #box8, #box9 {
        max-width: 100%;
    }
    aside .box {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: auto;
    }
    aside img {
        width: 40%;
    }
    aside .titre {
        max-width: 100%;
    }
    aside .infobox {
        width: 60%;
    }
    #pop {
        max-width: none;
    }

    /*hebergement*/

    #Section1 article {
        width: auto;
        padding: 20px 20px;
        margin-right: 0px;
        background: none;
    }

    #box1, #box2, #box3, #box4, #box5, #box6 {
        width: 100%;
        height: 199px;
    } 
    article .box {
        max-width: 500px;
        flex-flow: column;
        margin: auto;

    }
    article img {
        width: 98%;
        margin: 1%;
    }

    /*activités*/

    #section2 {
        padding: 20px;
    }
    #activites {
        margin: 0px;
    }
    .activ, .activ1, .activ2 {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .activ1, .activ2 {
        width: 100%;
    }
    .activ h2 {
        margin-top: 5px;
    }
    .colonne1, .colonne2 {
        align-items: center;
    }
    #box10, #box11, #box12, #box13, #box14, #box15 {
        width: 100%;
        max-width: 500px;
        height: 190px;
        margin-bottom: 20px;
    }
    #box10 img, #box11 img, #box12 img, #box13 img, #box14 img, #box15 img {
        width: 98%;
        margin: 1%;
        height: 135px;
    }

    /*footer*/
    
    footer {
        height: auto;
    }
    footer #menu {
        flex-direction: column;
    }
    #menu div {
        margin-bottom: 50px;
    }
}

