/*Style CSS du site Reservia
----------------------------
Copyright Johann Lamine
*/

@font-face
{
    font-family: 'Raleway';
    src:url(font/static/Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway_Black';
    src:url(font/static/Raleway-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Raleway-Bold';
    src:url(font/static/Raleway-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
   padding: 0em;
   margin: 0em; 
   font-family: 'Raleway',Arial, Helvetica, sans-serif;
}
body {
    margin: auto;
    max-width: 1340px;
    align-items: center;
}

/* head*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: auto;
}
header #logo {
    margin-left: 4px;
}

/*navigation*/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav a {
    color: grey;
    text-decoration: none;
    padding: 48px 28px 0px 28px;
}
nav a:hover {
    color: #0065fc;
    border-top: 4px #0065fc solid;
}
nav #inscription {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: #0065fc;
    border: none;
}
nav #inscription:hover {
    border-top: transparent;
}
/*body*/
h1 {
    font-family: 'Raleway-Black', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

/* Filtre*/

.Filtres {
    display: flex;
    flex-direction: row;
}
.Filtres p {
    font-family: 'Raleway_Black', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: left;
    margin-top: 0.8em;
}
.Filtres ul {
    list-style-type: none;
    display: flex;
}
.Filtres li {
    margin-right: 40px;
    text-decoration: none;
}
.Filtres a {
    text-decoration: none;
    font-family: 'Raleway_Black', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    width: 3em;
    color: black;
    border: 1px grey solid;
    border-left: transparent;
    padding: 0.4em 1em 0.51em 0em;
    border-radius: 1.2em;
    text-align: left;
    line-height: 3em;
}
.Filtres a:hover {
    text-decoration: none;
    font-size: 0.8em;
    width: 3em;
    color: black;
    background-color: #DEEBFF;
    border: 1px #DEEBFF solid;
    border-left: transparent;
    padding: 0.48em 1em 0.59em 0em;
    border-radius: 1.2em;
    text-align: left;
    line-height: 3em;
}
.Filtres i {
    color: #0065fc;
    font-size: 0.8em;
    width: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 50%;
    background: #DEEBFF;
}
#infobulle i {
    color: #0065fc;
    border: 1px grey solid;
    font-size: 0.5em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
}

/*Footer*/

#back {
    width: 100%;
    margin: 0em;
    background-color: #F2F2F2;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}
footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
footer a {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
    color: black;
}